body{
    background-color: #090240;
    margin-top: 0px;
    font-family: expressway, sans-serif;
}
#fabricIcon {
    width: 80px;
    padding: 10px;
}

#bannerContainer{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 700px;
    margin-bottom: 50px;
}

#imgCont {
    justify-content: flex-start; /* Align image to the left */
}

#titleCont {
    flex: 1; /* Take up remaining space */
    display: flex;
    justify-content: center; /* Center the title horizontally */
}
#topBanner{
    color: #090240;
}

/* Center the main container */
#mainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

#jobRoleSelector{
    width: 700px;
    padding: 20px;
    background-color: #04BD88;
    color: white;
    font-weight: 700;
    font-size: 18px;

}

#jbRole, #jobRoleSelector {
    display: flex;
    align-items: center;
}

.lblPrice{
    color: white;
    margin-top: 25px;
}

/* Style the job role selector */
#jobRoleContainer {
    margin-bottom: 20px;
}

#jbRole {
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

#salaryContainer {
    margin: 0 auto;
}

/* Arrange salary side by side */
#dualCont {
    display:flex;
    gap:20px;
}

/* Style individual salary input containers */
#averageSal, #maxHousePrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    width: 336px;
    height: 100px;
    border-radius: 10px;
}

#housePriceContainer {
    width: 100%;
}

/* Style the house price table */
#housePriceTable {
    width: 100%;
    border-collapse: separate; /* Ensure separate borders */
    margin-top: 20px;
    border: solid 2px white;
    border-radius: 10px; /* Add border-radius */
    overflow: hidden; /* Ensure rounded corners are visible */
}

#housePriceTable th, #housePriceTable td {
    padding: 8px;
    text-align: left;
    color: white;
    border: none; /* Remove internal borders */
}

#housePriceTable th {
    background-color: #04BD88;
    color: white;
    margin: 0; /* Remove margin */
    padding: 10px; /* Adjust padding */
}

#housePriceTable thead th:first-child {
    border-top-left-radius: 10px; /* Round top-left corner */
}

#housePriceTable thead th:last-child {
    border-top-right-radius: 10px; /* Round top-right corner */
}

#ukMap {
    color: white;
    margin: 0 auto;
}
#mapContainer {
    width: 455px;
    height: 740px;
    margin: 0 auto;
}

.leaflet-container {
    background: none !important;
}
.leaflet-top .leaflet-control {
    margin-top: 50px !important;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: #04BD88;
    background: #04BD88;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: white;
}

